<!-- Страница регистрации пользователя -->
<!-- Подключение шаблона-фундамента для страницы -->
{% extends 'head/base.html' %}

{% block title %}
Страница регистрации
{% endblock %}

{% block content %}

    <div class="container">
        <h1 class="h3 mb-3 font-weight-normal text-center">
            Регистрация нового пользователя
        </h1>
        <br>
        <!-- Подключение полей для ввода информации о пользователе при регистрации -->
        <form method="POST" class="form-register" style="color:white">
            {{ reg_form.hidden_tag() }}

            {{ reg_form.fio.label() }}
            {{ reg_form.fio(class="form-control", placeholder="Фамилия Имя Отчество") }}

            {{ reg_form.phone_number.label() }}
            {{ reg_form.phone_number(class="form-control", placeholder="Телефон") }}

            {{ reg_form.position.label() }}
            {{ reg_form.position(class="form-control") }}

            {{ reg_form.type_work.label() }}
            {{ reg_form.type_work(class="form-control") }}

            {{ reg_form.user_photo.label() }}
            {{ reg_form.user_photo(class="form-control") }}

            {{ reg_form.login.label() }}
            {{ reg_form.login(class="form-control", placeholder="Логин") }}

            {{ reg_form.password1.label() }}
            {{ reg_form.password1(class="form-control", placeholder="Пароль") }}

            {{ reg_form.password2.label() }}
            {{ reg_form.password2(class="form-control", placeholder="Подтвердить пароль") }}

            <br>

            <div class="checkbox mb-3">
               <h6>Уже есть аккаунт?</h6>
               <a class="btn btn-sm btn-warning" href="{{ url_for('authentication.login_page') }}">Выполнить вход</a>
            </div>

            {{ reg_form.submit(class="btn btn-lg btn-block btn-dark") }}

        </form>
    </div>

{% endblock %}