<!-- Страница профиля пользователя/Стартовая страница-->
<!-- Подключение шаблона-фундамента для страницы -->
{% extends 'head/base.html' %}
{% block title %}
Стартовая страница
{% endblock %}
<!-- Отображение информации об авторизованном пользователе -->
{% block content %}
<div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-left bg-dark" style="color:white">
    <div align="center">
        <h1 class="display-4 font-weight-normal" align="center">Начальная страница - начало рабочего процесса</h1>
        <br>
        <p {{ "Здесь должно быть фото" }} </p>
        <p class="lead font-weight-normal">Логин работника: {{ None }}</p>
        <p class="lead font-weight-normal">ФИО работника: {{ None }}</p>
        <p class="lead font-weight-normal">Должность: {{ None }}</p>
        <p class="lead font-weight-normal">Заработная плата: {{ None }}</p>
        <p class="lead font-weight-normal">Вид работы: {{ None }}</p>
        <p class="lead font-weight-normal">Номер телефона: {{ None }}</p>
        <div class="row-10" style="margin-top:20px; margin-left:20px" align="center">
            <div class="col-10">
               <br>
               <table id="data" class="table table-hover table-striped">
                  <tbody align="center">
                     <tr>
                        <td>
                            <a class="btn btn-lg btn-info" href="#">Изменить профиль</a>
                            <a class="btn btn-lg btn-info" href="#">Мои задания</a>
                            <a class="btn btn-lg btn-info" href="#">Мои проекты</a>
                        </td>
                     </tr>
                  </tbody>
               </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}