<!-- Страница профиля пользователя/Стартовая страница-->
<!-- Подключение шаблона-фундамента для страницы -->
{% extends 'head/base.html' %}
{% block title %}
Стартовая страница
{% endblock %}
<!-- Отображение информации об авторизованном пользователе -->
{% block content %}
<div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-left bg-dark" style="color:white">
    <div align="center">
        <h1 class="display-4 font-weight-normal" align="center">Начальная страница - начало рабочего процесса</h1>
        <br>
        {% if current_user.is_authenticated: %}
        <img src="{{that_user.CompanyWorker.photo}}" width="300" height="300">
        <p class="lead font-weight-normal">Логин работника: {{ that_user.CompanyWorker.login }}</p>
        <p class="lead font-weight-normal">ФИО работника: {{ that_user.CompanyWorker.fio }}</p>
        <p class="lead font-weight-normal">Должность: {{ that_user.WorkerPost.name_worker_post }}</p>
        <p class="lead font-weight-normal">Заработная плата: {{that_user.WorkerPost.salary }}</p>
        <p class="lead font-weight-normal">Вид работы: {{ that_user.CompanyWorker.type_work }}</p>
        <p class="lead font-weight-normal">Номер телефона: {{ that_user.CompanyWorker.phone_number }}</p>
        <div class="row-10" style="margin-top:20px; margin-left:20px" align="center">
            <div class="col-10">
               <br>
               <table id="data" class="table table-hover table-striped">
                  <tbody align="center">
                     <tr>
                        <td>
                            <a class="btn btn-lg btn-info" href="{{ url_for('head.update_profile_page') }}">Изменить профиль</a>
                            {% if session['post'] == 5: %}
                            <a class="btn btn-lg btn-info" href="{{ url_for('project.supervisor_view') }}">Мои проекты</a>
                            {% else: %}
                            <a class="btn btn-lg btn-info" href="{{ url_for('task.task_view') }}">Мои задания</a>
                            {% endif %}
                        </td>
                     </tr>
                  </tbody>
               </table>
            </div>
        </div>
        {% else %}
        <h1 class="display-4 font-weight-normal" align="center">Для дальнейшей работы войдите в систему</h1>
        <div class="row-10" style="margin-top:20px; margin-left:20px" align="center">
            <div class="col-10">
               <br>
               <table id="data" class="table table-hover table-striped">
                  <tbody align="center">
                     <tr>
                        <td>
                            <a class="btn btn-lg btn-info" href="{{ url_for('authentication.login_page') }}">Авторизация</a>
                            <a class="btn btn-lg btn-info" href="{{ url_for('authentication.register_page') }}">Регистрация</a>
                        </td>
                     </tr>
                  </tbody>
               </table>
            </div>
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}