<!-- Страница профиля пользователя/Стартовая страница-->
<!-- Подключение шаблона-фундамента для страницы -->
{% extends 'head/base.html' %}
{% block title %}
Изменение профиля
{% endblock %}
<!-- Отображение информации об авторизованном пользователе -->
{% block content %}
<form method="POST" class="form-addding" style="color:black">
{{ worker_update_form.hidden_tag() }}
<div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-left bg-dark" style="color:white">
    <div align="center">
        <p class="lead font-weight-normal">
            Фото работника:<br> <img src="{{that_user.CompanyWorker.photo}}" width="300" height="300"> <br> 
            {{ worker_update_form.user_photo.label() }}
            {{ worker_update_form.user_photo(placeholder_="Ссылка на фото размером приблизительно 300х300", class="form-control") }}
            
        </p>
        <p class="lead font-weight-normal">
            ФИО работника: {{ that_user.CompanyWorker.fio }}<br>
            {{ worker_update_form.fio.label() }}
            {{ worker_update_form.fio(class="form-control") }}
        </p>
        <p class="lead font-weight-normal">
            Номер телефона: {{ that_user.CompanyWorker.phone_number }}<br>
            {{ worker_update_form.phone_number.label() }}
            {{ worker_update_form.phone_number(class="form-control") }}
        </p>
        <br>
            {{ worker_update_form.submit_update(class="btn btn-lg btn-block btn-warning") }}
    </div>
</div>
</form>
{% endblock %}