<!-- Страница с расписанием -->
<!-- Подключение шаблона-фундамента для страницы -->
{% extends 'head/base.html' %}
{% block title %}
Пользовательские проекты
{% endblock %}
<!-- Оформление информационного блока -->
{% block content %}
<div class="row" style="margin-top:20px; margin-left:20px">
   <div class="col-8">
      <h2>Мои проекты</h2>
      <button type="button" class="btn btn-dark" data-toggle="modal" data-target="#ModalAddProject">Добавить проект</button>
      <br>
      <br>
      <table id="project" class="table table-hover table-bordered table-info table-striped">
         <thead>
            <tr>
               <th scope="col">Название проекта</th>
               <th scope="col">Тип проекта</th>
               <th scope="col">Дата сдачи</th>
               <th scope="col">Трудоёмкость</th>
               <th scope="col">Статус проекта</th>
            </tr>
         </thead>
         <tbody>
            {% for project in all_projects %}
            <tr>
               <td>{{ project.Project.name_project }}</td>
               <td>{{ project.Project.type_project }}</td>
               <td>{{ project.Project.completion_date }}</td>
               <td>{{ project.Project.project_laboriousness }}</td>
               <td>{{ project.State.name_state }}</td>
               <td>
                  <form method="post" action="{{url_for('project.supervisor_view')}}">
                     {{ form_update_project.id_project_for_update(value=project.Project.id_project) }}
                     <br>
                     {{ form_update_project.new_state_project.label() }}
                     {{ form_update_project.new_state_project(class="form-control") }}
                     <br>
                     {{ form_update_project.submit_update(class="btn btn-lg btn-block btn-warning") }}
                     <br>
                     {{ form_close_project.id_project_for_close(value=project.Project.id_project) }}
                     {{ form_close_project.submit_close(class="btn btn-lg btn-block btn-danger") }}
                  </form>
               </td>
            </tr>
            {% endfor %}
         </tbody>
      </table>
   </div>
</div>
<div id="ModalAddProject" class="modal fade" role="dialog">
   <div class="modal-dialog">
      <div class="modal-content">
         <div class="modal-header">
            <h4 class="modal-title text-secondary">Добавление нового проекта</h4>
         </div>
         <div class="modal-body">
            <form method="POST" class="form-addding" style="color:black">
               {{ form_add_project.hidden_tag() }}

               {{ form_add_project.project_name.label() }}
               {{ form_add_project.project_name(class="form-control") }}
               
               {{ form_add_project.project_type.label() }}
               {{ form_add_project.project_type(class="form-control") }}

               {{ form_add_project.deadline.label() }}
               {{ form_add_project.deadline(class="form-control") }}

               {{ form_add_project.laboriousness.label() }}
               {{ form_add_project.laboriousness(class="form-control") }}

               {{ form_add_project.project_state.label() }}
               {{ form_add_project.project_state(class="form-control") }}

               <br>
               {{ form_add_project.submit_add(class="btn btn-lg btn-block btn-dark") }}
            </form>
         </div>
      </div>
      <div class="modal-footer">
         <button type="button" class="btn btn-light" data-dismiss="modal">Закрыть</button>
      </div>
   </div>
</div>
{% endblock %}

<!-- Скрипт для динамической таблицы: фильтрация, сортировка-->
{% block scripts %}
<script>
   $(document).ready(function () {
      $("#project").DataTable(
         {
            columns: [
               { orderable: true, searchable: true },
               { orderable: true, searchable: true },
               { orderable: true, searchable: true },
               { orderable: true, searchable: true },
               { orderable: true, searchable: true },
               { orderable: false, searchable: false }
            ],
            language: {
               "processing": "Подождите...",
               "search": "Поиск:",
               "lengthMenu": "Показать _MENU_ записей",
               "info": "Записи с _START_ до _END_ из _TOTAL_ записей",
               "infoEmpty": "Записи с 0 до 0 из 0 записей",
               "infoFiltered": "(отфильтровано из _MAX_ записей)",
               "infoPostFix": "",
               "loadingRecords": "Загрузка записей...",
               "zeroRecords": "Записи отсутствуют.",
               "emptyTable": "В таблице отсутствуют данные",
               "paginate": {
                  "first": "Первая",
                  "previous": "Предыдущая",
                  "next": "Следующая",
                  "last": "Последняя"
               },
               "aria": {
                  "sortAscending": ": активировать для сортировки столбца по возрастанию",
                  "sortDescending": ": активировать для сортировки столбца по убыванию"
               }
            }
         });
   });
</script>
{% endblock %}