<!-- Страница с расписанием -->
<!-- Подключение шаблона-фундамента для страницы -->
{% extends 'head/base.html' %}
{% block title %}
Мои личные задания
{% endblock %}
<!-- Оформление информационного блока -->
{% block content %}
<div class="row" style="margin-top:20px; margin-left:20px">
   <div class="col-10">
      <h2>Мои задания</h2>
      <br>
      <table id="project" class="table table-hover table-bordered table-info table-striped">
         <thead>
            <tr>
               <th scope="col">Название проекта</th>
               <th scope="col">Дата добавления задачи</th>
               <th scope="col">Руководитель проекта</th>
               <th scope="col">Номер итерации задачи</th>
               <th scope="col">Трудоёмкость задачи</th>
               <th scope="col">Описание задачи</th>
               <th scope="col">Дата начала оформления задачи</th>
               <th scope="col">Дата окончания оформления задачи</th>
               <th scope="col">Статус задачи</th>
            </tr>
         </thead>
         <tbody>
            {% for task in all_worker_tasks %}
            <tr>
               <td>{{ task.Project.name_project }}</td>
               <td>{{ task.Project.completion_date }}</td>
               <td>{{ task.CompanyWorker.fio }}</td>
               <td>{{ task.WorkerExecution.iteration_number }}</td>
               <td>{{ task.Task.task_laboriousness }}</td>
               <td>{{ task.Task.description }}</td>
               <td>{{ task.WorkerExecution.start_date }}</td>
               <td>{{ task.WorkerExecution.finish_date}}</td>
               <td>{{ task.Status.name_status}}</td>
               <td>
                  <form method="post" action="{{url_for('task.task_view')}}">
                     {{ update_form.id_task_for_update(value=task.WorkerExecution.id_task) }}
                     <br>
                     {{ update_form.new_status_task.label() }}
                     {{ update_form.new_status_task(class="form-control") }}
                     <br>
                     {{ update_form.new_iteration.label() }}
                     {{ update_form.new_iteration(placeholder_="От 1 до 7", class="form-control") }}
                     <br>
                     {{ update_form.submit_update(class="btn btn-lg btn-block btn-warning") }}
                     <br>
                     {{ reject_form.id_task_for_reject(value=task.WorkerExecution.id_task) }}
                     {{ reject_form.submit_reject(class="btn btn-lg btn-block btn-danger") }}
                  </form>
               </td>
            </tr>
            {% endfor %}
         </tbody>
      </table>
   </div>
</div>
{% endblock %}

<!-- Скрипт для динамической таблицы: фильтрация, сортировка-->
{% block scripts %}
<script>
   $(document).ready(function () {
      $("#project").DataTable(
         {
            columns: [
               { orderable: true, searchable: true },
               { orderable: true, searchable: true },
               { orderable: true, searchable: true },
               { orderable: true, searchable: true },
               { orderable: true, searchable: true },
               { orderable: true, searchable: true },
               { orderable: true, searchable: true },
               { orderable: true, searchable: true },
               { orderable: true, searchable: true },
               { orderable: false, searchable: false }
            ],
            language: {
               "processing": "Подождите...",
               "search": "Поиск:",
               "lengthMenu": "Показать _MENU_ записей",
               "info": "Записи с _START_ до _END_ из _TOTAL_ записей",
               "infoEmpty": "Записи с 0 до 0 из 0 записей",
               "infoFiltered": "(отфильтровано из _MAX_ записей)",
               "infoPostFix": "",
               "loadingRecords": "Загрузка записей...",
               "zeroRecords": "Записи отсутствуют.",
               "emptyTable": "В таблице отсутствуют данные",
               "paginate": {
                  "first": "Первая",
                  "previous": "Предыдущая",
                  "next": "Следующая",
                  "last": "Последняя"
               },
               "aria": {
                  "sortAscending": ": активировать для сортировки столбца по возрастанию",
                  "sortDescending": ": активировать для сортировки столбца по убыванию"
               }
            }
         });
   });
</script>
{% endblock %}